In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
import tensorflow as tf

Load Dataset!

In [12]:
housing = datasets.fetch_california_housing()

In [13]:
X = pd.DataFrame(housing.data, columns=housing.feature_names)[["AveRooms"]]
y = housing.target  # Median house value in $100,000s

In [14]:
X

       AveRooms
0      6.984127
1      6.238137
2      8.288136
3      5.817352
4      6.281853
...         ...
20635  5.045455
20636  6.114035
20637  5.205543
20638  5.329513
20639  5.254717

[20640 rows x 1 columns]